# Copyright (c) 2024 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

policy_module(tafTimeIntTest, 1.0)

gen_require(`
  type telaf_admin_t;
  type data_t;
')

type telaf_tafTimeIntTest_data_t;
files_type(telaf_tafTimeIntTest_data_t);

type telaf_tafTimeIntTest_exec_t;
files_type(telaf_tafTimeIntTest_exec_t);

type telaf_tafTimeIntTest_t;

init_telaf_app_domain(telaf_tafTimeIntTest_t,telaf_tafTimeIntTest_exec_t)

# For accessing gptp device
gptp_rw_qgptp_device(telaf_tafTimeIntTest_t)
gptp_rw_tmpfs_files(telaf_tafTimeIntTest_t)
gptp_rw_gptp_sock_file(telaf_tafTimeIntTest_t)

allow telaf_admin_t telaf_tafTimeIntTest_exec_t:lnk_file { read };

# Allow time service to create netlink socket
allow telaf_tafTimeIntTest_t telaf_tafTimeIntTest_t:netlink_route_socket *;
