# Copyright (c) 2023 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

policy_module(tafMngdPMSvc, 1.0)

# Framework definition for telaf
type telaf_tafMngdPMSvc_exec_t;
files_type(telaf_tafMngdPMSvc_exec_t);

type telaf_tafMngdPMSvc_t;

type telaf_tafMngdPMSvc_data_t;
files_type(telaf_tafMngdPMSvc_data_t);

init_telaf_app_domain(telaf_tafMngdPMSvc_t,telaf_tafMngdPMSvc_exec_t)

ifdef(`sa525m',`
    allow telaf_tafMngdPMSvc_exec_t telaf_admin_t:lnk_file {read};
')

# Allow update daemon to install/uninstall this service
telaf_admin_manage_all_files_perms(telaf_tafMngdPMSvc_data_t)
telaf_admin_manage_all_files_perms(telaf_tafMngdPMSvc_exec_t)

# use VHAL driver object
telaf_load_vhal_modules(telaf_tafMngdPMSvc_t)

