# Copyright (c) 2022 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

policy_module(tafECallSvc, 1.0)

# Framework definition for telaf
type telaf_tafECallSvc_exec_t;
files_type(telaf_tafECallSvc_exec_t);

type telaf_tafECallSvc_t;

type telaf_tafECallSvc_data_t;
files_type(telaf_tafECallSvc_data_t);

init_telaf_app_domain(telaf_tafECallSvc_t,telaf_tafECallSvc_exec_t)

# Allow update daemon to install/uninstall this service
telaf_admin_manage_all_files_perms(telaf_tafECallSvc_data_t)
telaf_admin_manage_all_files_perms(telaf_tafECallSvc_exec_t)

# Getting Telephone call info, call and config control
ifdef(`sa525m',`
    telux_allow_tel_call_info_read(telaf_tafECallSvc_t)
    telux_allow_tel_call_mgmt(telaf_tafECallSvc_t)
    telux_allow_tel_ecall_mgmt(telaf_tafECallSvc_t)
    telux_allow_tel_ecall_config(telaf_tafECallSvc_t)
    telux_allow_tel_emergency_ops(telaf_tafECallSvc_t)
    telux_allow_tel_private_info_read(telaf_tafECallSvc_t)
    telux_allow_tel_call_private_info(telaf_tafECallSvc_t)
')

# use VHAL driver object
telaf_load_vhal_modules(telaf_tafECallSvc_t)

require {
    type mm_socket_device_t;
    type modem_monitor_t;
    type telaf_tafECallSvc_t;
    class sock_file write;
    class unix_stream_socket connectto;
}

# Allow tafECallSvc to write to ssr_notify
allow telaf_tafECallSvc_t mm_socket_device_t:sock_file write;

# Allow tafECallSvc to connect to modem_monitor
allow telaf_tafECallSvc_t modem_monitor_t:unix_stream_socket connectto;
