# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

policy_module(tafUpdateSvc, 1.0)

gen_require(`
    class blk_file { open read write };
    type bin_t;
    type cache_t;
    type cache_recovery_t;
    type cert_t;
    type cgroup_t;
    type device_t;
    type etc_t;
    type firmware_t;
    type fixed_disk_device_t;
    type fs_t;
    type home_root_t;
    type init_t;
    type init_var_run_t;
    type initctl_t;
    type kernel_t;
    type kmsg_device_t;
    type mbim_device_t;
    type mtd_device_t;
    type power_unit_t;
    type proc_t;
    type shell_exec_t;
    type syslogd_var_run_t;
    type system_dbusd_t;
    type systemd_logind_var_run_t;
    type telaf_admin_t;
    type telaf_update_t;
    type tmp_t;
    type ubi_device_t;
    type unreserved_port_t;
    type user_home_dir_t;
    type user_tmp_t;
    type telaf_fw_t;
    type telaf_lib_t;
    type telaf_app_bundle_t;
    type telaf_devmgr_t;
    type telaf_devmgr_data_t;
    attribute telaf_app_exec_attr;
    type mtd_block_t;
')

type telaf_tafUpdateSvc_exec_t;
files_type(telaf_tafUpdateSvc_exec_t);

type telaf_tafUpdateSvc_t;

type telaf_tafUpdateSvc_data_t;
files_type(telaf_tafUpdateSvc_data_t);

# sa525m doesn't support these types
ifndef(`sa525m',`
    gen_require(`
        type ota_master_da_data_t;
    ')
    allow telaf_update_t ota_master_da_data_t:file { read };
    allow telaf_tafUpdateSvc_t ota_master_da_data_t:dir { manage_dir_perms relabelfrom };
    allow telaf_tafUpdateSvc_t ota_master_da_data_t:file { manage_file_perms };
')
ifdef(`sa525m',`
    gen_require(`
        type data_t;
        type cert_t;
        type recovery_exec_t;
    ')
    allow telaf_update_t data_t:file { read };
    allow telaf_tafUpdateSvc_t data_t:dir { manage_dir_perms relabelfrom };
    allow telaf_tafUpdateSvc_t data_t:file { map manage_file_perms };

    allow telaf_tafUpdateSvc_t recovery_exec_t:file { map exec_file_perms };
    allow telaf_tafUpdateSvc_t cert_t:dir { search_dir_perms };
    allow telaf_tafUpdateSvc_t cert_t:file { read_file_perms };
')

# download agent policy
allow telaf_tafUpdateSvc_t shell_exec_t:file { exec_file_perms };
allow telaf_tafUpdateSvc_t self:udp_socket { create };
allow telaf_tafUpdateSvc_t self:tcp_socket { create_socket_perms };
allow telaf_tafUpdateSvc_t etc_t:file { read_file_perms };
allow telaf_tafUpdateSvc_t user_home_dir_t:dir { search };
allow telaf_tafUpdateSvc_t unreserved_port_t:tcp_socket { name_connect };
allow telaf_tafUpdateSvc_t proc_t:file { read_file_perms };
allow telaf_tafUpdateSvc_t home_root_t:dir { search };

# update daemon policy
allow telaf_update_t telaf_tafUpdateSvc_t:fd { use };

# recovery client policy
allow telaf_tafUpdateSvc_t bin_t:file { exec_file_perms };
allow telaf_tafUpdateSvc_t tmp_t:dir { write add_name };
allow telaf_tafUpdateSvc_t tmp_t:file { exec_file_perms manage_file_perms };
allow telaf_tafUpdateSvc_t kmsg_device_t:chr_file { open write };
allow telaf_tafUpdateSvc_t device_t:dir { write };
allow telaf_tafUpdateSvc_t cache_recovery_t:dir { manage_dir_perms };
allow telaf_tafUpdateSvc_t cache_recovery_t:file { manage_file_perms };
allow telaf_tafUpdateSvc_t mtd_device_t:chr_file { rw_file_perms };
allow telaf_tafUpdateSvc_t mtd_block_t:blk_file { rw_file_perms };
allow telaf_tafUpdateSvc_t self:capability2 { syslog };
allow telaf_tafUpdateSvc_t kernel_t:system { syslog_read };
allow telaf_tafUpdateSvc_t cache_t:dir { manage_dir_perms };
allow telaf_tafUpdateSvc_t cache_t:file { manage_file_perms };
allow telaf_tafUpdateSvc_t cache_t:lnk_file { manage_file_perms };
allow telaf_tafUpdateSvc_t fs_t:filesystem { getattr unmount };
# allow access to /dev/mtd devices
storage_raw_write_fixed_disk(telaf_tafUpdateSvc_t)
storage_raw_read_fixed_disk(telaf_tafUpdateSvc_t)

# allow access to /firmware/images/Ver_Info.txt
allow telaf_tafUpdateSvc_t firmware_t:dir { search_dir_perms };
allow telaf_tafUpdateSvc_t firmware_t:file { read_file_perms };

# reboot policy
allow telaf_tafUpdateSvc_t init_t:dir { search };
allow telaf_tafUpdateSvc_t init_t:file { exec_file_perms };
allow telaf_tafUpdateSvc_t init_t:lnk_file { read };
allow telaf_tafUpdateSvc_t init_t:unix_stream_socket { connectto };
allow telaf_tafUpdateSvc_t telaf_admin_t:fifo_file { ioctl };
allow telaf_tafUpdateSvc_t self:capability { fowner fsetid dac_read_search net_admin sys_resource sys_boot};
allow telaf_tafUpdateSvc_t init_var_run_t:sock_file { open write };
allow telaf_tafUpdateSvc_t system_dbusd_t:unix_stream_socket { connectto };
allow telaf_tafUpdateSvc_t systemd_logind_var_run_t:sock_file { open write };
allow telaf_tafUpdateSvc_t initctl_t:fifo_file { open write };
allow telaf_tafUpdateSvc_t cgroup_t:dir { manage_dir_perms };
systemd_start_power_units(telaf_tafUpdateSvc_t)

# flash access
allow telaf_tafUpdateSvc_t mbim_device_t:chr_file { rw_file_perms };
allow telaf_tafUpdateSvc_t ubi_device_t:chr_file { rw_file_perms };

# Allow access to ssl library
allow telaf_tafUpdateSvc_t cert_t:dir { search };
allow telaf_tafUpdateSvc_t cert_t:file { read_file_perms };

# device manager
# to be replaced with telaf_load_vhal_modules
allow telaf_devmgr_t telaf_tafUpdateSvc_t:lnk_file { read_file_perms };
allow telaf_tafUpdateSvc_t telaf_devmgr_data_t:file { exec_file_perms };
allow telaf_tafUpdateSvc_t telaf_devmgr_data_t:dir { search_dir_perms };

init_telaf_app_domain(telaf_tafUpdateSvc_t,telaf_tafUpdateSvc_exec_t)

# app management policy
allow telaf_tafUpdateSvc_t telaf_lib_t:dir { manage_dir_perms relabelto };
allow telaf_tafUpdateSvc_t telaf_lib_t:file { manage_file_perms relabel_file_perms };
allow telaf_tafUpdateSvc_t telaf_app_bundle_t:lnk_file { read_file_perms };
allow telaf_tafUpdateSvc_t telaf_app_exec_attr:lnk_file { read_file_perms };
allow telaf_tafUpdateSvc_t telaf_app_exec_attr:file { manage_file_perms relabel_file_perms };

# Allow update daemon to install/uninstall this service
telaf_admin_manage_all_files_perms(telaf_tafUpdateSvc_data_t)
telaf_admin_manage_all_files_perms(telaf_tafUpdateSvc_exec_t)

# Allow access to run update plugin under /app
allow telaf_tafUpdateSvc_t telaf_fw_t:file { exec_file_perms };

# Allow access to syslog
allow telaf_tafUpdateSvc_t syslogd_var_run_t:sock_file { rw_file_perms };

# Allow access to search and read/write files under /tmp
allow telaf_tafUpdateSvc_t user_tmp_t:file { rw_file_perms };
allow telaf_tafUpdateSvc_t user_tmp_t:dir { search_dir_perms };

# Support deprivilege
allow telaf_tafUpdateSvc_t self:capability { setgid setuid };
