# Copyright (c) 2022 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

policy_module(tafMRCSvc, 1.0)

# Framework definition for telaf
type telaf_tafMRCSvc_exec_t;
files_type(telaf_tafMRCSvc_exec_t);

type telaf_tafMRCSvc_t;

type telaf_tafMRCSvc_data_t;
files_type(telaf_tafMRCSvc_data_t);

ifdef(`sa525m',`
    telux_allow_platform_ota_mgmt(telaf_tafMRCSvc_t)
    telux_allow_platform_listen_fs_events(telaf_tafMRCSvc_t)
')
#allow telaf_voiceCallApp_t telaf_tafMRCSvc_data_t:file { read open getattr };

init_telaf_app_domain(telaf_tafMRCSvc_t,telaf_tafMRCSvc_exec_t)

# Allow update daemon to install/uninstall this service
telaf_admin_manage_all_files_perms(telaf_tafMRCSvc_data_t)
telaf_admin_manage_all_files_perms(telaf_tafMRCSvc_exec_t)


