# Copyright (c) 2024 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

policy_module(tafRFSUnitTest, 1.0)

gen_require(`
  type telaf_admin_t;
  type data_t;
')

type telaf_tafRFSUnitTest_data_t;
files_type(telaf_tafRFSUnitTest_data_t);

type telaf_tafRFSUnitTest_exec_t;
files_type(telaf_tafRFSUnitTest_exec_t);

type telaf_tafRFSUnitTest_t;

init_telaf_app_domain(telaf_tafRFSUnitTest_t,telaf_tafRFSUnitTest_exec_t)

# RFS component necessary rules

telaf_load_rfs_component(telaf_tafRFSUnitTest_t)

allow telaf_admin_t telaf_tafRFSUnitTest_exec_t:lnk_file { read };
allow telaf_tafRFSUnitTest_t self:capability { sys_admin };
allow telaf_tafRFSUnitTest_t data_t:file { relabel_file_perms };
