# Copyright (c) 2023 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

policy_module(tafDiagSvc, 1.0)

gen_require(`
  type node_t;
  type unreserved_port_t;
  type telaf_update_t;
  type load_policy_t;
  type proc_t;
')


type telaf_tafDiagSvc_exec_t;
files_type(telaf_tafDiagSvc_exec_t);

type telaf_tafDiagSvc_data_t;
files_type(telaf_tafDiagSvc_data_t);

type telaf_tafDiagSvc_t;

init_telaf_app_domain(telaf_tafDiagSvc_t,telaf_tafDiagSvc_exec_t)

telaf_admin_manage_all_files_perms(telaf_tafDiagSvc_exec_t)
telaf_admin_manage_all_files_perms(telaf_tafDiagSvc_data_t)
telaf_admin_file_perms(telaf_tafDiagSvc_t,telaf_tafDiagSvc_data_t)

allow telaf_tafDiagSvc_t node_t:udp_socket { node_bind };
allow telaf_tafDiagSvc_t unreserved_port_t:udp_socket { name_bind };
allow telaf_tafDiagSvc_t unreserved_port_t:tcp_socket { name_bind };
allow load_policy_t telaf_update_t:unix_stream_socket { read write };
allow telaf_tafDiagSvc_t telaf_tafDiagSvc_t:netlink_route_socket *;
allow telaf_tafDiagSvc_t telaf_tafDiagSvc_t:udp_socket *;
allow telaf_tafDiagSvc_t telaf_tafDiagSvc_t:tcp_socket *;
allow telaf_tafDiagSvc_t node_t:tcp_socket { node_bind };
# /proc/filesystems
allow telaf_tafDiagSvc_t proc_t:file {read_file_perms};
# /data/diag
allow telaf_tafDiagSvc_t data_t:dir {relabelfrom};

allow telaf_tafDiagSvc_t self:capability2 { mac_admin };

unconfined_domain(telaf_tafDiagSvc_t)
