# Copyright (c) 2024 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

policy_module(tafMngdStorageSvc, 1.0)

gen_require(`
  type telaf_devmgr_data_t;
  type telaf_devmgr_t;
  type fs_t;
')

# Framework definition for telaf
type telaf_tafMngdSecDataStorageSvc_exec_t;
files_type(telaf_tafMngdSecDataStorageSvc_exec_t);

type telaf_tafMngdSecDataStorageSvc_t;

type telaf_tafMngdSecDataStorageSvc_data_t;
files_type(telaf_tafMngdSecDataStorageSvc_data_t);

# Framework definition for telaf
type telaf_tafMngdSecFileStorageSvc_exec_t;
files_type(telaf_tafMngdSecFileStorageSvc_exec_t);

type telaf_tafMngdSecFileStorageSvc_t;

type telaf_tafMngdSecFileStorageSvc_data_t;
files_type(telaf_tafMngdSecFileStorageSvc_data_t);

# Framework definition for telaf
type telaf_tafMngdCfgStorageSvc_exec_t;
files_type(telaf_tafMngdCfgStorageSvc_exec_t);

type telaf_tafMngdCfgStorageSvc_t;

type telaf_tafMngdCfgStorageSvc_data_t;
files_type(telaf_tafMngdCfgStorageSvc_data_t);

init_telaf_app_domain(telaf_tafMngdSecDataStorageSvc_t,telaf_tafMngdSecDataStorageSvc_exec_t)

init_telaf_app_domain(telaf_tafMngdSecFileStorageSvc_t,telaf_tafMngdSecFileStorageSvc_exec_t)

ifdef(`sa525m',`
    allow telaf_tafMngdSecDataStorageSvc_exec_t telaf_admin_t:lnk_file {read};
')

# Allow update daemon to install/uninstall this service
telaf_admin_manage_all_files_perms(telaf_tafMngdSecDataStorageSvc_data_t)
telaf_admin_manage_all_files_perms(telaf_tafMngdSecDataStorageSvc_exec_t)

# Allow update daemon to install/uninstall this service
telaf_admin_manage_all_files_perms(telaf_tafMngdSecFileStorageSvc_data_t)
telaf_admin_manage_all_files_perms(telaf_tafMngdSecFileStorageSvc_exec_t)

init_telaf_app_domain(telaf_tafMngdCfgStorageSvc_t,telaf_tafMngdCfgStorageSvc_exec_t)

ifdef(`sa525m',`
    allow telaf_tafMngdCfgStorageSvc_exec_t telaf_admin_t:lnk_file {read};
')

# Allow update daemon to install/uninstall this service
telaf_admin_manage_all_files_perms(telaf_tafMngdCfgStorageSvc_data_t)
telaf_admin_manage_all_files_perms(telaf_tafMngdCfgStorageSvc_exec_t)

# KeyStore rules

telaf_tafKeyStoreSvc_getKeyId(telaf_tafMngdSecDataStorageSvc_t)
telaf_tafKeyStoreSvc_getKeyId(telaf_tafMngdCfgStorageSvc_t)

# RFS component necessary rules

telaf_load_rfs_component(telaf_tafMngdSecDataStorageSvc_t)
telaf_load_rfs_component(telaf_tafMngdSecFileStorageSvc_t)
telaf_load_rfs_component(telaf_tafMngdCfgStorageSvc_t)

allow telaf_admin_t telaf_tafMngdSecDataStorageSvc_exec_t:lnk_file { read };
allow telaf_tafMngdSecDataStorageSvc_t self:capability { sys_admin sys_ptrace };
allow telaf_tafMngdSecDataStorageSvc_t data_t:file { relabel_file_perms };

allow telaf_admin_t telaf_tafMngdCfgStorageSvc_exec_t:lnk_file { read };
allow telaf_tafMngdCfgStorageSvc_t self:capability { sys_admin };
allow telaf_tafMngdCfgStorageSvc_t data_t:file { relabel_file_perms };

telaf_load_vhal_modules(telaf_tafMngdCfgStorageSvc_t)

# FSCrypt rules
telaf_tafKeyStoreSvc_FscInit(telaf_tafMngdCfgStorageSvc_t, telaf_tafMngdCfgStorageSvc_data_t)
telaf_tafKeyStoreSvc_FscInit(telaf_tafMngdSecFileStorageSvc_t, telaf_tafMngdSecFileStorageSvc_data_t)

allow telaf_tafMngdSecFileStorageSvc_t self:capability { sys_admin sys_ptrace };
allow telaf_tafMngdSecFileStorageSvc_t init_t:key { search };
allow telaf_tafMngdSecFileStorageSvc_t fs_t:filesystem { getattr };
