# Copyright (c) 2022 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

policy_module(tafSimCardSvc, 1.0)

# Framework definition for telaf
type telaf_tafSimCardSvc_exec_t;
files_type(telaf_tafSimCardSvc_exec_t);

type telaf_tafSimCardSvc_t;

type telaf_tafSimCardSvc_data_t;
files_type(telaf_tafSimCardSvc_data_t);

init_telaf_app_domain(telaf_tafSimCardSvc_t,telaf_tafSimCardSvc_exec_t)

# Read Remote SIM provisioning operations like request profile list, server address and EID
ifdef(`sa525m',`
    telux_allow_tel_sim_profile_read(telaf_tafSimCardSvc_t)
    telux_allow_tel_subscription_read(telaf_tafSimCardSvc_t)
    telux_allow_tel_private_info_read(telaf_tafSimCardSvc_t)
    telux_allow_tel_sub_private_info_read(telaf_tafSimCardSvc_t)
    telux_allow_tel_card_power(telaf_tafSimCardSvc_t)
    telux_allow_tel_card_ops(telaf_tafSimCardSvc_t)
    telux_allow_tel_card_privileged_ops(telaf_tafSimCardSvc_t)
    telux_allow_tel_sim_profile_ops(telaf_tafSimCardSvc_t)
    telux_allow_tel_sim_profile_user_consent(telaf_tafSimCardSvc_t)
    telux_allow_tel_sim_profile_config(telaf_tafSimCardSvc_t)
    telux_allow_tel_sim_profile_read(telaf_tafSimCardSvc_t)
    telux_allow_tel_sim_profile_http_proxy(telaf_tafSimCardSvc_t)
    telux_allow_tel_multisim_mgmt(telaf_tafSimCardSvc_t)
')

# Allow update daemon to install/uninstall this service
telaf_admin_manage_all_files_perms(telaf_tafSimCardSvc_data_t)
telaf_admin_manage_all_files_perms(telaf_tafSimCardSvc_exec_t)
