# Copyright (c) 2022 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

policy_module(tafLocationSvc, 1.0)

gen_require(`
  type debugfs_t;
  type etc_t;
')

# Framework definition for telaf
type telaf_tafLocationSvc_exec_t;
files_type(telaf_tafLocationSvc_exec_t);

type telaf_tafLocationSvc_t;

type telaf_tafLocationSvc_data_t;
files_type(telaf_tafLocationSvc_data_t);

init_telaf_app_domain(telaf_tafLocationSvc_t,telaf_tafLocationSvc_exec_t)

ifdef(`sa525m',`
telux_allow_loc(telaf_tafLocationSvc_t)
location_access_loc_bootkpi(telaf_tafLocationSvc_t)
leprop_rw_props(telaf_tafLocationSvc_t)
')

# Allow tafLocationSvc to search dir in debugfs
allow telaf_tafLocationSvc_t debugfs_t:dir { search_dir_perms };
allow telaf_tafLocationSvc_t etc_t:file { read_file_perms };

# Allow update daemon to install/uninstall this service
telaf_admin_manage_all_files_perms(telaf_tafLocationSvc_data_t)
telaf_admin_manage_all_files_perms(telaf_tafLocationSvc_exec_t)



