# Copyright (c) 2022 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

## <summary> devices interface </summary>

#######################################
# <summary>
#        Allow tafKeyStoreSvc to read client's proc data
# </summary>
# <param name="domain">
#        <summary>
#        Type to be used as a daemon domain.
#        </summary>
# </param>
# <param name="entry_point">
#        <summary>
#        Type of the program to be used as an entry point to this domain
#        </summary>
# </param>

interface(`telaf_tafKeyStoreSvc_getKeyId',`
    gen_require(`
            type telaf_tafKeyStoreSvc_t;
    ')

    ps_process_pattern(telaf_tafKeyStoreSvc_t, $1);

')

#######################################
# <summary>
#        Allow tafKeyStoreSvc to control keys and generate directories for client
# </summary>
# <param name="caller context">
#        <summary>
#        Context of the client which calls FS-Crypt service
#        </summary>
# </param>
# <param name="parent context">
#        <summary>
#        Parent directory context of the specified directory
#        </summary>
# </param>
# <param name="expected context">
#        <summary>
#        The expected context of the specified directory which is going to be created by service
#        </summary>
# </param>

interface(`telaf_tafKeyStoreSvc_FscInit',`
    gen_require(`
            type kernel_t;
            type telaf_tafFSCryptSvc_t;
            type init_t;
    ')

    allow $1 telaf_tafFSCryptSvc_t:key { search };
    allow $1 init_t:key { search };
    allow $1 kernel_t:system { module_request };

    # Make sure client has capability to create and transfer the app context
    allow telaf_tafFSCryptSvc_t  $2:dir { manage_dir_perms rw_dir_perms search };
    allow telaf_tafFSCryptSvc_t  $2:file { delete_file_perms };
')