# Copyright (c) 2022 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

policy_module(tafKeyStoreSvc, 1.0)

gen_require(`
  type persist_t;
  type qseecom_device_t;
  type ion_device_t;
  type firmware_t;
  type kernel_t;
  type init_t;
  type smcinvoke_device_t;
  type cert_t;
  type event_device_t;
  attribute telaf_app_domain;
')

# Framework definition for telaf
type telaf_tafKeyStoreSvc_exec_t;
files_type(telaf_tafKeyStoreSvc_exec_t);

type telaf_tafKeyStoreSvc_t;

type telaf_tafKeyStoreSvc_data_t;
files_type(telaf_tafKeyStoreSvc_data_t);

type telaf_tafFSCryptSvc_exec_t;
files_type(telaf_tafFSCryptSvc_exec_t);

type telaf_tafFSCryptSvc_t;

type telaf_tafFSCryptSvc_data_t;
files_type(telaf_tafFSCryptSvc_data_t);

# allow to create /persist/tafKeyStoreSvc
allow telaf_tafKeyStoreSvc_t persist_t:dir { manage_dir_perms };
allow telaf_tafKeyStoreSvc_t persist_t:file { manage_file_perms };
allow telaf_tafKeyStoreSvc_t firmware_t:dir { search_dir_perms };
allow telaf_tafKeyStoreSvc_t firmware_t:file { read_file_perms };
allow telaf_tafKeyStoreSvc_t self:capability { dac_read_search sys_admin sys_ptrace };

# keystore service necessary rules
allow telaf_tafKeyStoreSvc_t { qseecom_device_t ion_device_t }:chr_file { rw_file_perms };

init_telaf_app_domain(telaf_tafKeyStoreSvc_t, telaf_tafKeyStoreSvc_exec_t)

# Allow update daemon to install/uninstall this service
telaf_admin_manage_all_files_perms(telaf_tafKeyStoreSvc_data_t)
telaf_admin_manage_all_files_perms(telaf_tafKeyStoreSvc_exec_t)

# Allow to get connected application attribute
allow telaf_tafKeyStoreSvc_t telaf_app_domain:process { getattr };

# Allow R/W /dev/smcinvoke
allow telaf_tafKeyStoreSvc_t smcinvoke_device_t:chr_file { rw_file_perms };

# Allow to call ssl library
allow telaf_tafKeyStoreSvc_t cert_t:dir { search };
allow telaf_tafKeyStoreSvc_t cert_t:file { read_file_perms };

init_telaf_app_domain(telaf_tafFSCryptSvc_t, telaf_tafFSCryptSvc_exec_t)
telaf_admin_manage_all_files_perms(telaf_tafFSCryptSvc_exec_t)
telaf_admin_manage_all_files_perms(telaf_tafFSCryptSvc_data_t)

allow telaf_tafFSCryptSvc_t persist_t:dir { manage_dir_perms };
allow telaf_tafFSCryptSvc_t persist_t:file { manage_file_perms };
allow telaf_tafFSCryptSvc_t firmware_t:dir { search_dir_perms };
allow telaf_tafFSCryptSvc_t firmware_t:file { read_file_perms };
allow telaf_tafFSCryptSvc_t self:capability { dac_read_search sys_ptrace };

allow telaf_tafFSCryptSvc_t self:capability { sys_admin fowner };
allow telaf_tafFSCryptSvc_t self:key { search };
allow telaf_tafFSCryptSvc_t kernel_t:system { module_request };
allow telaf_tafFSCryptSvc_t init_t:key { search };

allow telaf_tafFSCryptSvc_t  telaf_fw_t:dir { manage_dir_perms rw_dir_perms search };
allow telaf_tafFSCryptSvc_t  telaf_fw_t:file { delete_file_perms };

# keystore service necessary rules
allow telaf_tafFSCryptSvc_t { qseecom_device_t ion_device_t }:chr_file { rw_file_perms };

# Allow to get connected application attribute
allow telaf_tafFSCryptSvc_t telaf_app_domain:process { getattr };

# Allow to call ssl library
allow telaf_tafFSCryptSvc_t cert_t:dir { search };
allow telaf_tafFSCryptSvc_t cert_t:file { read_file_perms };

# Allow keystore service access "/dev/smcinvoke"
allow telaf_tafKeyStoreSvc_t event_device_t:chr_file { read write open ioctl };
