# Copyright (c) 2022 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

policy_module(tafDataCallSvc, 1.0)

# Framework definition for telaf
type telaf_tafDataCallSvc_exec_t;
files_type(telaf_tafDataCallSvc_exec_t);

type telaf_tafDataCallSvc_t;

type telaf_tafDataCallSvc_data_t;
files_type(telaf_tafDataCallSvc_data_t);

init_telaf_app_domain(telaf_tafDataCallSvc_t,telaf_tafDataCallSvc_exec_t)

ifdef(`sa525m',`
    # Use qti network manager unix datagram sockets
    qnetmgr_use_unix_stream_sockets(telaf_tafDataCallSvc_t)

    # Providing necessary permissions to contain a telux data
    telsdk_read_qcmap_etc_data_files(telaf_tafDataCallSvc_t)
    telux_allow_data(telaf_tafDataCallSvc_t)
    telux_allow_tel_private_info_read(telaf_tafDataCallSvc_t)

    # Get access for data call operations APIs
    telux_allow_data_call_ops(telaf_tafDataCallSvc_t)
    telux_allow_data_setting(telaf_tafDataCallSvc_t)
    telux_allow_data_call_props(telaf_tafDataCallSvc_t)
    telux_allow_data_profile_ops(telaf_tafDataCallSvc_t)
')

# Allow update daemon to install/uninstall this service
telaf_admin_manage_all_files_perms(telaf_tafDataCallSvc_data_t)
telaf_admin_manage_all_files_perms(telaf_tafDataCallSvc_exec_t)


