#
# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear
#

menu "tafMngdConnSvc"
rsource "tafMngdServices/Connectivity/tafMngdConnSvc.kconfig"
endmenu # end "tafMngdConnSvc"