# Copyright (c) 2023-2024 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

policy_module(tafTimeSvc, 1.0)

gen_require(`
  type telaf_devmgr_data_t;
  type clock_device_t;
  type etc_t;
  type event_device_t;
')

# Framework definition for telaf
type telaf_tafTimeSvc_exec_t;
files_type(telaf_tafTimeSvc_exec_t);

type telaf_tafTimeSvc_t;

type telaf_tafTimeSvc_data_t;
files_type(telaf_tafTimeSvc_data_t);

init_telaf_app_domain(telaf_tafTimeSvc_t,telaf_tafTimeSvc_exec_t)

# use VHAL driver object
telaf_load_vhal_modules(telaf_tafTimeSvc_t)

# Allow update daemon to install/uninstall this service
telaf_admin_manage_all_files_perms(telaf_tafTimeSvc_data_t)
telaf_admin_manage_all_files_perms(telaf_tafTimeSvc_exec_t)

# Allow timer service to access related system sources
allow telaf_tafTimeSvc_t self:capability { sys_time sys_admin };

# Allow time service to register the time manager in telSDK
telux_allow_loc(telaf_tafTimeSvc_t)
telux_allow_loc_data(telaf_tafTimeSvc_t)
telux_allow_loc_config(telaf_tafTimeSvc_t)

# Telsdk network time
telux_allow_tel_srv_system_read(telaf_tafTimeSvc_t)

# For accessing gptp device
gptp_rw_qgptp_device(telaf_tafTimeSvc_t)
gptp_rw_tmpfs_files(telaf_tafTimeSvc_t)
gptp_rw_gptp_sock_file(telaf_tafTimeSvc_t)

allow telaf_tafTimeSvc_t event_device_t:chr_file { read open };

allow telaf_tafTimeSvc_t telaf_devmgr_data_t:dir { search };
allow telaf_tafTimeSvc_t telaf_devmgr_data_t:file { open read getattr execute };

ifdef(`sa525m',`
    allow telaf_tafTimeSvc_t telaf_devmgr_data_t:file { map };
    telux_allow_tel_private_info_read(telaf_tafTimeSvc_t)
')

allow telaf_tafTimeSvc_t clock_device_t:chr_file { read write open ioctl };
allow telaf_tafTimeSvc_t etc_t:file { open read getattr };

# For updating the delta mseconds to storage
time_delta_read_write(telaf_tafTimeSvc_t)

# Allow time service to create netlink socket
allow telaf_tafTimeSvc_t telaf_tafTimeSvc_t:netlink_route_socket *;

# Allow tafTimeSvc to create shared memory segments
allow telaf_tafTimeSvc_t self:shm { create unix_read unix_write read write destroy };
