# Copyright (c) 2023 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

policy_module(tafDoIPStackUnitTest, 1.0)

gen_require(`
  type node_t;
  type unreserved_port_t;
  type telaf_update_t;
  type load_policy_t;
  type proc_net_t;
')


type telaf_tafDoIPStackUnitTest_exec_t;
files_type(telaf_tafDoIPStackUnitTest_exec_t);

type telaf_tafDoIPStackUnitTest_data_t;
files_type(telaf_tafDoIPStackUnitTest_data_t);

type telaf_tafDoIPStackUnitTest_t;

init_telaf_app_domain(telaf_tafDoIPStackUnitTest_t,telaf_tafDoIPStackUnitTest_exec_t)

telaf_admin_manage_all_files_perms(telaf_tafDoIPStackUnitTest_exec_t)
telaf_admin_manage_all_files_perms(telaf_tafDoIPStackUnitTest_data_t)
telaf_admin_file_perms(telaf_tafDoIPStackUnitTest_t, telaf_tafDoIPStackUnitTest_data_t)

allow telaf_tafDoIPStackUnitTest_t node_t:udp_socket { node_bind };
allow telaf_tafDoIPStackUnitTest_t unreserved_port_t:udp_socket { name_bind };
allow telaf_tafDoIPStackUnitTest_t unreserved_port_t:tcp_socket { name_bind };
allow load_policy_t telaf_update_t:unix_stream_socket { read write };
allow telaf_tafDoIPStackUnitTest_t telaf_tafDoIPStackUnitTest_t:netlink_route_socket *;
allow telaf_tafDoIPStackUnitTest_t telaf_tafDoIPStackUnitTest_t:udp_socket *;
allow telaf_tafDoIPStackUnitTest_t telaf_tafDoIPStackUnitTest_t:tcp_socket *;
allow telaf_tafDoIPStackUnitTest_t node_t:tcp_socket { node_bind };
allow telaf_tafDoIPStackUnitTest_t proc_net_t:dir { search };
allow telaf_tafDoIPStackUnitTest_t proc_net_t:file { read open getattr };
