# Copyright (c) 2022 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

## <summary> devices interface </summary>

#######################################
# <summary>
#        Allow tafKeyStoreSvc to read client's proc data
# </summary>
# <param name="domain">
#        <summary>
#        Type to be used as a daemon domain.
#        </summary>
# </param>
# <param name="entry_point">
#        <summary>
#        Type of the program to be used as an entry point to this domain
#        </summary>
# </param>


